.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #e38100;
  color: white;
}

mat-card-content {
  display: flex;
  justify-content: space-around;
}

mat-card {
  margin: 20px;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
  mat-card {
    width: 100%;
    margin: 7px auto;
  }

  table {
    width: 80%;
  }
  tr {
    width: 80%;
  }
  td,
  th {
    font-size: 10px;
    padding: 0 !important;
    margin-right: 5px;
    padding-right: 3px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  mat-card {
    width: 100%;
    margin: 7px auto;
  }

  table {
    width: 80%;
  }
  tr {
    width: 80%;
  }
  td,
  th {
    font-size: 10px;
    padding: 0 !important;
    margin-right: 5px;
    padding-right: 3px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  mat-card {
    width: 100%;
    margin: 7px auto;
  }

  table {
    width: 80%;
  }
  tr {
    width: 80%;
  }
  td,
  th {
    font-size: 10px;
    width: 7%;
    padding: 0 !important;
    margin-right: 5px;
    padding-right: 3px !important;
  }

  th {
    width: 5% !important;
  }
}
